.blocInfo {
	width:100%;
	display:flex;
	flex-flow:column;
	align-items:center;
	justify-content:center
}

.blocTitle, .blocTag {width:100%}
.blocInfo {width:100%}
.blocCollapse {flex:1}

.blocCollapse>div,
.blocCollapse>ul {margin:0 0 1rem 0}

.blocTag,
.blocTitle {
	padding:1rem;
	border-radius:1rem;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:flex-start;
	gap:1rem
}

.accordion {min-width:320px !important}

.description,
.competences {
	display:flex;
	flex-flow:column nowrap
}

.blocTag {
	text-align:center;
	align-items:flex-end;
	background-color:var(--myLight) !important
}

.blocTag img {width:64px}

.blocLinks {
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:flex-end;
	gap:2rem;
	width:100%
}

.coverProduct {
	flex:2;
	width:100%;
	max-width:575px
}

.blocImg img {max-height:275px}

.blocInfo .accordion-body {
	display:flex;
	flex-flow:column
}

.grid-portraits {
	display:grid;
	gap:15px
}

.grid-portraits img {
	width:100%;
	height:100%;
	object-fit:cover
}

.lien-conteneur-photo {position:relative}

.photo-hover {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:1.5em;
	color:white;
	background-color:rgba(0, 0, 0, 0.7);
	display:none
}

.lien-conteneur-photo:hover .photo-hover {display:flex}

.card-img-overlay {
	display:flex;
	flex-flow:column;
	justify-content:flex-end
}


@media all and (max-width:750px) {
	
	.social {
		position:relative;
		left:0
	}
	
	#blocMain{padding:0 1rem}

	#blocMain p {
		padding:0 1rem;
		font-weight:var(--font-weight);
		font-size:.7rem;
		line-height:var(--line-height) + 0.5rem
	}

	#Formation img {
		width:92px;
		height:128px
	}

	.projectsList {padding:2rem 0 0 0}

}


@media screen and (max-width: 996px) {
	.grid-portraits {
		grid-template-columns:1fr;
		gap:15px
	}
}

